:root {
  // Colors
  --primary-color: #1d69bb;
  --primary-color-dark: #033d7b;
  --secondary-color: #6c757d;
  --background-color: #ffffff;  
  --header-color: #023258;
  --text-color: #212529;
  --light-gray-color: #f8f9fa;
  --box-shadow-color: rgba(0, 0, 0, 0.1);
  --border-color: rgba(0, 0, 0, 0.1);
  --hover-color: #03458b;
  --disabled-color: #5e89b8;
  --error-background-color: #f8d7da;
  --error-text-color: #721c24;


  // Typography
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --font-size-base: 1rem; // 16px
  --font-size-lg: 1.4rem;
  --font-size-header: 2rem;
  --font-size-sm: 0.875rem;

  // Spacing
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 3rem;
}
