@if (bookingStatus() === 'started') {
  <app-header-content mainHeader="Book Your Stay" hideButton>
    <p>Use the form below to book your stay with us. We look forward to hosting you!</p>
  </app-header-content>

  <app-sub-header-content subHeaderContentTitle="Reservation Details">
    <form (submit)="book($event)">
      <div class="form-field">
        <label for="name">Name</label>
        <input id="name" placeholder="Full Name" [formField]="bookingForm.name" />

        @for (error of bookingForm.name().errors(); track error) {
          <p>{{ error.message }}</p>
        }
      </div>
      <div class="form-field">
        <label for="phone">Phone</label>
        <input id="phone" type="tel" placeholder="Phone number" [formField]="bookingForm.phone" />

        @for (error of bookingForm.phone().errors(); track error) {
          <p>{{ error.message }}</p>
        }
      </div>
      <div class="form-field">
        <label for="checkin">Check-in Date</label>
        <input id="checkin" placeholder="Check-in Date" [formField]="bookingForm.checkInDate" />
        @for (error of bookingForm.checkInDate().errors(); track error) {
          <p>{{ error.message }}</p>
        }
      </div>

      <div class="form-field">
        <label for="checkout">Check-out Date</label>
        <input id="checkout" placeholder="Check-out Date" [formField]="bookingForm.checkOutDate" />
        @for (error of bookingForm.checkOutDate().errors(); track error) {
          <p>{{ error.message }}</p>
        }
      </div>

      <div class="form-field">
        <label for="guests">Number of Guests</label>
        <input
          id="guests"
          type="number"
          placeholder="Number of guests"
          [formField]="bookingForm.guests"
        />

        @for (error of bookingForm.guests().errors(); track error) {
          <p>{{ error.message }}</p>
        }
      </div>

      <h3>Select Rooms</h3>
      <div class="rooms-selection-grid">
        @for (room of ROOM_TYPES; track room.name) {
          <div>
            <div>
              <h3>{{ room.name }}</h3>
            </div>
            <img [src]="room.images.thumb" [alt]="" />
            <div>
              <p>
                <b>Price Per Night: {{ room.pricePerNight | currency }}</b>
              </p>
            </div>
            <div class="form-field">
              <label [for]="room.name">Quantity</label>
              <input
                [id]="room.name"
                type="number"
                type="number"
                (change)="updateRooms(room.name)"
                [aria-label]="'Quantity for ' + room.name"
              />
            </div>
          </div>
        }
      </div>

      <button type="submit" [disabled]="!bookingForm().valid()" appStyledPulseButton>
        Book Now
      </button>
    </form>
  </app-sub-header-content>
} @else if (bookingStatus() === 'booked') {
  <app-header-content ariaLive mainHeader="Thank You for Your Reservation" hideButton>
    <app-reservation [booking]="bookingDetails()" />
  </app-header-content>
} @else {
  <app-header-content ariaLive mainHeader="Booking Your Reservation" hideButton>
    <p>Please wait while we process your reservation.</p>
  </app-header-content>
}
