<section class="rooms-container">
  <h1>Our Rooms</h1>
  <p>Every room is a sanctuary of comfort, thoughtfully designed with modern aesthetics and essential amenities to ensure a restful and productive stay.</p>
  <a routerLink="/book" class="styled-button">Book Now</a>

  <section>
    <h2>In-Room Amenities</h2>
    <ul class="amenities-list">
      @for (amenity of amenities; track amenity) {
        <li>{{ amenity }}</li>
      }
    </ul>
  </section>

  <section class="photo-gallery">
    <h2>Room Types</h2>
    <ul class="image-link-grid">
      @for (room of rooms; track room.name;) {
        <li class="image-link">
          <a [routerLink]="['/rooms', room.name]">
            <img [ngSrc]="room.images.large" [alt]="" width="375" height="500" class="image-link-img" priority>
            <span class="image-link-title">{{ room.name }}</span>
          </a>
        </li>
      }
    </ul>
  </section>
</section>
