:host {
  display: block;
  padding: var(--spacing-xl) var(--spacing-md);
}

.rooms-container {
  max-width: 1250px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  margin-bottom: var(--spacing-md);
}


p {
  margin-bottom: var(--spacing-xl);
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
