:host {
  display: block;
  padding: var(--spacing-xl) var(--spacing-md);
}

.rooms-container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  margin-bottom: var(--spacing-md);
}

.h1 {
  font-weight: bold;
  font-size: 2rem;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-bottom: var(--spacing-md);
}


p {
  margin-bottom: var(--spacing-xl);
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.rooms-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: var(--spacing-lg);
}

li {
  list-style: none;
}

.gallery-item {
  position: relative;
  overflow: hidden;
  border-radius: var(--spacing-sm);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 375px;
  width: 100%;


  a {
    display: block;
    text-decoration: none;
    color: inherit;
  }

  .gallery-image {
    transition: transform 0.3s ease;
  }

  .gallery-cta {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    padding: var(--spacing-sm);
    font-weight: bold;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.3s ease, transform 0.3s ease;
    width: 100%;
    box-sizing: border-box;
  }

  &:hover,
  &:focus-within {
    .gallery-image {
      transform: scale(1.05);
    }
    .gallery-cta {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
